NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/finance_dashboard?schema=public"
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
JWT_EXPIRES_IN="1d"
REFRESH_TOKEN_EXPIRES_IN_DAYS=14
LOG_LEVEL=info
